body{
    background-color: rgb(98, 161, 255);
    font: normal 15pt Arial;
    color: white;
}

header{
    text-align: center;

}

section{
    background-color: white;
    border-radius: 16px;
    padding: 15px;
    width: 500px;
    margin: auto;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.219) 5px 5px 10px;
}

footer{
    margin: 10px;
    text-align: center;
    font-style: italic;

}